* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Quicksand, sans-serif;
}

html {
    font-size: 62.5%;
    /* 62.5% of 16px = 10px */
    /* set 1rem = 10px using 62.5% of 16px 
    1rem = 10px
    1.5rem = 15px
    3rem = 30px
    6rem = 60px
    .1rem = 1px
     */
}

body {
    background-color: #333;
    color: whitesmoke;
}

/* ======================================================================= */
.container {
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(closest-side at 5% 10%, rgb(0, 0, 0), rgb(14, 54, 88)1000%);

    display: flex;
    justify-content: center;
    align-items: center;

    /* create 3d environment */
    perspective: 150rem;
}

.swing {
    width: 40rem;
    height: 20rem;
    background-color: rgba(206, 216, 91, 0.7);
    /* rotate the swing */
    transform: rotateX(70deg) rotateY(5deg) rotateZ(-40deg);

    /* to share 3d sapce with before and after element */
    transform: preserve-3d;
}